.profile {
    background-color: rgb(235, 239, 241);
    margin: 24px auto;
    width: 320px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.description {
    padding: 10px;
}

.avatar {
    height: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}

.name {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

.location {
    color: gray;
}

.tag {
    color: gray;
    margin-bottom: 10px;
}

.tag:before {
    content: "@";
}

.stats {
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: rgb(226, 226, 226);
    border-radius: 4px;
}

.statsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgb(165, 163, 163);

}

.statsItem:not(:last-child) {
    border-right: 1px solid rgb(165, 163, 163);
}

.label {
    margin-bottom: 5px;
    color: gray;
}

.quantity {
    font-weight: 700;
}